.text-slider {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.text-slider .text-content {
  display: flex;
  animation: slide 15s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
